body {
    background-image: url(money.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: rgb(255, 255, 255);
}

header {
    text-align: center;
    margin-bottom: 20px; 
}

.container {
    display: flex;
    gap: 20px; 
    justify-content: center;
}

.form-container {
    padding: 20px; 
    border-radius: 5px;
    width: 200px;
}

.from, .to {
    padding: 10px;
}

.from {
    border: 0.5px solid rgb(21, 19, 19);
    background-color: aliceblue;
    border-radius:8px;
    box-shadow: #000000;
}

.to {
    border: 0.5px solid rgb(21, 19, 19);
    background-color: aliceblue;
    border-radius:8px;
    box-shadow: #000000;
}


label {
    display: block;
    margin-bottom: 8px; 
    font-weight: bold;
}

input, select {
    width: 90%; 
    padding: 8px; 
    margin-bottom: 15px; 
    border-radius: 4px;
    border: 1px solid #ccc; 
}


h2 {
    margin-bottom: 10px;
}

#rate{
    border-radius:5px;
    border:2px solid black;
    margin-top: 20px;
    color: solid black;
    background-color: rgb(255, 255, 255);
    padding:15px;
}
h2{
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    color: solid black;
    border-radius:5px;
    padding:20px;
    border: 1px solid black;

}
